@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@700&display=swap');

.container-header .container-header-img{
    padding-left: 15px;
    padding-top: 15px;
    align-items: center;
}
.container-header-img span:hover{
    cursor: pointer;
}
.main-container{
    padding: 50px;
    align-items: center;
}
.main-container-text{
    justify-content: center;
    padding: 55px;
}
.main-container-text h2 {
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}
.main-container-text p {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #656d78;
}
.main-container-img img{
    width: 100%;
}
.footer-container{
    text-align: center;
    background-color: #28a745;
    font-size: 30px;
    font-size: 'Open Sans Condensed', sans-serif;
    color: #656d78;
}
.footer-container p:hover{
    cursor: pointer;
}
